<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>пользователи</title>

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--бутстрап-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</head>

<!--мой стиль-->
<div th:insert="~{parts/style :: style}"></div>

<body>

<!--шапка-->
<div th:insert="~{parts/header :: header}"></div>

<!--тело-->
<div class="container-fluid ">
    <div class="row">
        <!--боковое меню-->
        <div class="d-flex align-items-start">
            <div class="col-2 nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</button>
                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</button>
            </div>
            <div class="col-10 tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <!--верхние вкладки меню-->
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Users table</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New User</button>
                        </div>
                    </nav>
                    <div class="tab-content " id="nav-tabContent">
                        <div class="tab-pane fade show active bg-light" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <!--внутренности вкладки-->
                            <div class=" card  bg-light px-4 p-5">
                                <h1>Admin panel</h1>
                                <div class="card-header border">
                                    <h5 class="card-title">All users</h5>
                                </div>
                                <div class="card-body bg-body border p-3 table-responsive">
                                    <table class="table table-striped ">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">FirstName</th>
                                            <th scope="col">LastName</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="roluser : ${users}">
                                            <td th:text="${roluser.getId()}"/>
                                            <td th:text="${roluser.getUsername()}"/>
                                            <td th:text="${roluser.getUsername()}"/>
                                            <td th:text="${roluser.getUsername()}"/>
                                            <td th:text="${roluser.getEmail()}"/>
                                            <td>
                                                <p th:each="roles : ${roluser.getRoles()}" th:text="' ' + ${roles.getName()}"/>
                                            </td>
                                            <td>

                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="${'#edituser'+ roluser.getId()}">
                                                    Edit
                                                </button>

                                                <!-- Modal -->
                                               <div class="modal fade" th:id="${'edituser'+ roluser.getId()}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="#" th:action="@{/admin}" th:object="${user}" method="post" target="_self">
                                                                    <div class="container col-5 p-3">

                                                                        <div class="form-group" >
                                                                            <label for="id2" ><strong>ID</strong></label>
                                                                            <input name="id2" id="id2" th:value="${roluser.getId()}" disabled>
                                                                            <br>
                                                                            <br>
                                                                            <label for="username1"><strong>First name</strong></label>
                                                                            <input name="username" id="username1" th:value="${roluser.getUsername()}" required>
                                                                            <br>
                                                                            <br>
                                                                            <label for="email1"><strong>Email</strong></label>
                                                                            <input name="email" id="email1" th:value="${roluser.getEmail()}" >
                                                                            <br>
                                                                            <br>
                                                                            <label for="password1"><strong>Password</strong></label>
                                                                            <input name="password" id="password1" >
                                                                            <br>
                                                                            <br>
                                                                            <label for="roles1"><strong>Role</strong></label>
                                                                            <select name="roles" size="3" id="roles1" multiple>
                                                                                <option th:each="role : ${roles}" th:text="${role.getName()}" th:value="${role.getId()}"  />
                                                                            </select>
                                                                            <input type="hidden" name="id" id="id" th:value="${roluser.getId()}" >
                                                                            <br>
                                                                        </div>

                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                        <button class="btn btn-primary" >Edit</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                            <td>

                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="${'#delluser'+ roluser.getId()}">
                                                    Delete
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" th:id="${'delluser'+ roluser.getId()}" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel2">Delete user</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                    <div class="container col-5 p-3">

                                                                        <div class="form-group" >
                                                                            <label for="id3" ><strong>ID</strong></label>
                                                                            <input name="id2" id="id3" th:value="${roluser.getId()}" disabled>
                                                                            <br>
                                                                            <br>
                                                                            <label for="username2"><strong>First name</strong></label>
                                                                            <input name="username" id="username2" th:value="${roluser.getUsername()}" disabled>
                                                                            <br>
                                                                            <br>
                                                                            <label for="email2"><strong>Email</strong></label>
                                                                            <input name="email" id="email2" th:value="${roluser.getEmail()}" disabled>
                                                                            <br>
                                                                            <br>
                                                                            <label for="roles2"><strong>Role</strong></label>
                                                                            <select name="roles" size="3" id="roles2" multiple disabled>
                                                                                <option th:each="role : ${roles}" th:text="${role.getName()}" th:value="${role.getId()}"  />
                                                                            </select>
                                                                            <!--<input type="hidden" name="id" id="id4" th:value="${roluser.getId()}" >-->
                                                                            <br>
                                                                        </div>

                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                        <form th:action="@{admin/delete/{id}(id=${roluser.id})}" target="_self" >
                                                                            <div>
                                                                                <button class="btn btn-danger">Delete</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class=" card  bg-light px-4 p-5">
                                <h1>Admin panel</h1>
                                <div class="card-header border">
                                    <h5 class="card-title">Add new users</h5>
                                </div>
                                <div class="card-body bg-body border p-3 table-responsive">

                                    <div class="row justify-content-md-center">
                                        <div class="col col-lg-2">
                                        <form th:action="@{/admin}"  method="post">
                                            <div class="mb-3">
                                                <label for="username" class="form-label"><strong>First name</strong></label>
                                                <input type="text" class="form-control" id="username" placeholder="First Name" name="username" >
                                            </div>
                                            <div class="mb-3">
                                                <label for="email" class="form-label"><strong>Email address</strong></label>
                                                <input type="email" class="form-control" placeholder="email" name="email" id="email" aria-describedby="emailHelp">
                                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="password" class="form-label"><strong>Password</strong></label>
                                                <input type="password" class="form-control" placeholder="password" name="password" id="password">
                                            </div>
                                            <div class="mb-3 form-check">
                                                <label for="roles" class="form-label"><strong>Role</strong></label>
                                                <select class="form-select" name="roles" size="2" id="roles" multiple>
                                                    <option th:each="role : ${roles}" th:text="${role.getName()}" th:value="${role.getId()}" />
                                                </select>
                                            </div>
                                            <div class="mb-3" align="center">
                                                <button type="submit" class="btn btn-success">Add new user</button>
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--+++++++++++++++++++++++-->
                </div>

                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div th:insert="~{parts/userTable :: userTable}"></div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>