<div xmlns:th="http://www.thymeleaf.org" th:fragment="header" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <!--шапка-->
    <header id="header" class="fixed-top">
        <nav class="navbar-dark" style="background-color: #1a1e21">
            <div class="d-flex px-4 p-1 ">
                <div class="flex-grow-1">
                        <a href="/user" class="h2 text-white" th:text="${user.getEmail()}"></a>
                        <a href="/user" class="navbar-brand"  >with roles:</a>
                        <a href="/user" class="navbar-brand" th:each="roles : ${user.getRoles()}" th:text="' ' + ${roles.getName()}"></a>
                </div>
                <div class="d-flex align-items-center" >
                    <a href="/logout" class=" text-light " >Logout</a>
                </div>
                <!--<div class="d-flex align-items-center" sec:authorize="isAnonymous()">
                    <a href="/login" class=" text-light " >Login</a>
                </div>-->
            </div>
        </nav>
    </header>
    <br>
    <br>
    <br>
</div>
